In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [7]:
ser = Series(randn(6), index=[[1,1,1,2,2,2],['a' ,'b', 'c', 'a' ,'b' ,'c']])
ser

1  a    0.447319
   b   -0.847327
   c   -0.196935
2  a    0.300022
   b   -0.588283
   c    0.069577
dtype: float64

In [8]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
ser[1]

a    0.447319
b   -0.847327
c   -0.196935
dtype: float64

In [13]:
ser[2]

a    0.300022
b   -0.588283
c    0.069577
dtype: float64

In [15]:
ser[:,'a']

1    0.447319
2    0.300022
dtype: float64

In [16]:
dframe = ser.unstack()
dframe

          a         b         c
1  0.447319 -0.847327 -0.196935
2  0.300022 -0.588283  0.069577

In [19]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','cold','hot']])
dframe2

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [23]:
dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY       LA  SF
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [24]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot cold hot
Cities            NY  NY   LA  SF
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [26]:
dframe2.sortlevel(0)

Cities            NY       LA  SF
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [27]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28