In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

#### Then copy the data you want
#### pd.read_clipvord() will know what you copy

In [8]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [11]:
nfl_frame.columns # Get the column names

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [12]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [13]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868

In [15]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games', 'Stadium']) # if you add somthing not in dataframe

                   Team  First NFL Season Total Games  Stadium
0        Dallas Cowboys              1960         866      NaN
1     Green Bay Packers              1921       1,320      NaN
2         Chicago Bears              1920       1,354      NaN
3        Miami Dolphins              1966         784      NaN
4  New England Patriots              1960         868      NaN

In [16]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [20]:
nfl_frame.head(3) # defalt is 5

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North

In [19]:
nfl_frame.tail(3) # defalt is 5

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [23]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [25]:
nfl_frame['Stadium'] = "Levi's stadium"
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's stadium

In [27]:
nfl_frame['Stadium'] = np.arange(5)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4

In [30]:
stadiums = Series(["Levi's Stadium", "AT&T Stadim"], index = (4,0))
stadiums

4    Levi's Stadium
0       AT&T Stadim
dtype: object

In [32]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadim
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [35]:
del nfl_frame['Stadium']
nfl_frame

KeyError: 'Stadium'

In [38]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[8370000,380000,840000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [8370000, 380000, 840000]}

In [40]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF     8370000
1   LA      380000
2  NYC      840000