In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
my_series = Series([1,2,3,4], index = ['A','B','C','D'])
my_series

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_series.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[2]

'C'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [6]:
my_index[0] = 'Z'  #index is imutable

TypeError: Index does not support mutable operations

# Reindexing

In [7]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.814799  0.543416  0.608826 -0.417308  1.076148
B  1.301051 -0.445930 -1.111051 -1.395959  0.335104
D  1.938240 -0.892870 -0.499650 -0.615992  0.016860
E  0.859957  1.220123 -0.994759 -1.140325 -1.493954
F  0.169371 -1.822976 -0.260349  2.063211 -1.172428

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.814799  0.543416  0.608826 -0.417308  1.076148
B  1.301051 -0.445930 -1.111051 -1.395959  0.335104
C       NaN       NaN       NaN       NaN       NaN
D  1.938240 -0.892870 -0.499650 -0.615992  0.016860
E  0.859957  1.220123 -0.994759 -1.140325 -1.493954
F  0.169371 -1.822976 -0.260349  2.063211 -1.172428

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.814799  0.543416  0.608826 -0.417308  1.076148   NaN
B  1.301051 -0.445930 -1.111051 -1.395959  0.335104   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.938240 -0.892870 -0.499650 -0.615992  0.016860   NaN
E  0.859957  1.220123 -0.994759 -1.140325 -1.493954   NaN
F  0.169371 -1.822976 -0.260349  2.063211 -1.172428   NaN

In [15]:
dframe

       col1      col2      col3      col4      col5
A -1.814799  0.543416  0.608826 -0.417308  1.076148
B  1.301051 -0.445930 -1.111051 -1.395959  0.335104
D  1.938240 -0.892870 -0.499650 -0.615992  0.016860
E  0.859957  1.220123 -0.994759 -1.140325 -1.493954
F  0.169371 -1.822976 -0.260349  2.063211 -1.172428

In [16]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -1.814799  0.543416  0.608826 -0.417308  1.076148   NaN
B  1.301051 -0.445930 -1.111051 -1.395959  0.335104   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.938240 -0.892870 -0.499650 -0.615992  0.016860   NaN
E  0.859957  1.220123 -0.994759 -1.140325 -1.493954   NaN
F  0.169371 -1.822976 -0.260349  2.063211 -1.172428   NaN